@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=NTR|Comfortaa');

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  background: white;
  height: 100%;
  font-family: 'NTR', sans-serif;
  font-size: 15pt;
  margin-bottom: 15em;
}

q {
  font-style: italic;
}

#contentinfo {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 9em;
  width: 100%;
  color: white;
  background-color: black;
}

#contentinfo p {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

/* unvisited link */
a:link {
    color: #8c1717;
    text-decoration: none;
    font-weight: 600;
}

/* visited link */
a:visited {
    color: #8c1717;
    text-decoration: none;
    font-weight: 600;
}

/* mouse over link */
a:hover {
    color: #cc2222;
    text-decoration: none;
    font-weight: 600;
}

/* selected link */
a:active {
    color: #8c1717;
    text-decoration: none;
    font-weight: 600;
}

#contentinfo a {
  color:inherit;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 120%;
  color: #dcdcdc;
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 110%;
  color: #dcdcdc;
}

a[data-lightbox] {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: .5em;
}

a[data-lightbox]>img {
  border: 10px solid gray;
  border-left-width: 16px;
  border-right-width: 16px;
  border-radius: 3px;
}

img {
  background-color: gray;
  color: #dcdcdc;
  font-size: 75%;
}

div.images {
  text-align: center;
}

div.images a[data-lightbox] {
  display: inline;
}

.sketchfab-viewer iframe {
  display: block;
  margin: 0 auto;
  border: 10px solid gray;
  border-left-width: 16px;
  border-right-width: 16px;
  border-radius: 3px;
}

#content {
  max-width: 1250px;
  margin: 2.2em auto;
}

#disqus_thread {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#banner {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  height: 2em;
  padding-top: .2em;
  padding-left: 18em;
  background-color: black;
  color: #dcdcdc;
}

#banner a {
  font-family: 'Comfortaa', sans-serif;
  font-size: 200%;
  font-style: italic;
  color: inherit;
}

#menu {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  right: 0;
  width: 18em;
  color: #dcdcdc;
}

#menu li {
  display: inline-block;
  width: 5em;
  font-size: 100%;
  font-variant: small-caps;
}

#menu a {
  color: inherit;
  display: block;
  text-align: center;
  transition: background-color, .5s;
}

#menu a:hover {
  background-color: grey;
}

/* category list */

#intro {
  background-color: rgb(150,150,150);
  background-image: url("../images/face_topology.png");
  background-repeat: no-repeat;
  background-position: right top;
  min-height: 350px;
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 2em;
}

#intro p {
  margin-right: 500px;
  margin-left: 2em;
}

#intro a {
  color: inherit;
}
/*category*/

.category {
  margin:0;
  margin-bottom: 1em;
  padding:0;
}

.category > header {
  display: table;
  width: 100%;
  background-color: rgb(90,90,90);
  height: 5em;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.category > header h1 {
  display: table-cell;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
}

.category article {
  display: inline-flex;
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  margin-left:10px;
  margin-bottom:10px;
}

.category article .cover {
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.category article .article-content {
  border-top: 1px #dcdcdc solid;
  background-color: rgb(0,0,0);
  opacity: .65;
  position: relative;
  color: #dcdcdc;
  z-index: 10;
  left: 0;
  top:-300px;
  margin: 0;
  margin-top:170px;
  padding-top:5px;
  padding-left:10px;
  padding-right:10px;
  min-height: 105px;
  max-height: 130px;
  width: 280px;
  transition: opacity, .5s;
  font-size: 95%
}

.category article .article-content:hover {
  opacity: 1;
}

.category article h2 {
  margin: 0;
  padding:0;
}

.category article .entry-summary p {
  margin: 0;
  padding:0;
  font-size: 80%;
  opacity: 1;
}

.category article .post-info {
  display: none;
}

/* article */
.article header {
  display: table;
  background-color: rgb(90,90,90);
  margin: 0;
  padding: 0;
  width: 100%;
  color: #dcdcdc;
}

.article header div {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
}

.article header .entry-title {
  display: inline;
  padding: 0;
  margin: 0;
}

.article header p:before {
  content: " - ";
}

.article header p {
  display: inline;
  padding: 0;
  margin: 0;
}

.article .entry-title a {
  color: inherit;
}

.article img.cover {
  display: table-cell;
  vertical-align: top;
  width: 200px;
  height: 200px;
}

.article .entry-content{
  padding: 0 1em;
}

.article .entry-content h2 {
  background-color: gray;
  padding:1em;
  margin-left:-1em;
  margin-right:-1em;
  font-size: 90%;
}

.article header h2 a {
  color: inherit;
}

.post-info {
  font-size: 60%;
}

/* home */

.home .category {
  background-color: gray;
}

.home .category > header {
  height: auto;
  background-color: inherit;
  margin-bottom: .5em;
}

.home .category > header h2 {
  margin: 0;
  padding-top: .5em;
  padding-left: 10px;
}
