@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=NTR|Comfortaa');

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  background: white;
  height: 100%;
  font-family: 'NTR', sans-serif;
  font-size: 14pt;
  margin-bottom: 16em;
}

body>section {
  max-width: 1250px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

q {
  font-style: italic;
}

ul {
  list-style: square;
}

/* unvisited link */
a:link {
    color: #8c1717;
    text-decoration: none;
    font-weight: 600;
}

/* visited link */
a:visited {
    color: #8c1717;
    text-decoration: none;
    font-weight: 600;
}

/* mouse over link */
a:hover {
    color: #cc2222;
    text-decoration: none;
    font-weight: 600;
}

/* selected link */
a:active {
    color: #8c1717;
    text-decoration: none;
    font-weight: 600;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 120%;
  color: white;
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 110%;
  color: white;
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 100%;
  color: white;
}

a[data-lightbox] {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: .5em;
}

a[data-lightbox]>img {
  max-width: 90%;
}

a[data-lightbox]>img {
  border: 7px solid #bbbbbb;
  background-color: #bbbbbb;
  border-radius: 3px;
  color: white;
}

table {
  border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	text-align: left;
	margin-bottom: 1em;
}

thead {
  background-color: black;
  color: #dcdcdc;
}

tbody tr:nth-child(even) {
	background: rgb(233, 233, 233);
}

td, th {
  padding: 0.3em;
}

.figure {
  margin-top: 1em;
}

.figure .caption{
  margin: 0 !important;
  margin-bottom: 1em !important;
  padding: 0 !important;
  text-align: center !important;
}

div.images a[data-lightbox], div.figure a[data-lightbox] {
  display: inline-block;
}

div.images div.figure {
  display: inline-block;
}

div.images, div.figure {
  text-align: center;
}

.sketchfab-viewer iframe {
  display: block;
  margin: 0 auto;
  border: 7px solid #bbbbbb;
  background-color: #bbbbbb;
  border-radius: 3px;
  max-width: 90%
}

#banner {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  padding-top: .2em;
  background-color: black;
  color: #dcdcdc;
}

#banner span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  max-width: 1250px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 200%;
  font-style: italic;
  color: inherit;
}

#menu {
  position: fixed;
  z-index: 110;
  top: 0;
  width: 100%;
  color: #dcdcdc;
}

#menu ul {
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: right;
  max-width: 1250px;
}

#menu li {
  display: inline-block;
}

#menu a {
  font-variant: small-caps;
  padding-top: 1em;
  padding-bottom: .2em;
  height: 1em;
  color: inherit;
  display: block;
  width: 5em;
  text-align: center;
  font-weight: normal;
  transition: background-color, color, .8s;
}

#menu a:hover {
  background-color: #dcdcdc;
  color:black;
}

div#content {
  background-color: #969696;
}

.info-block {
  background-image: url("../images/face_topology.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 38%;
  min-height: 350px;
  padding-top: 35px;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#imprint {
  padding-top: 5px;
  min-height: 380px;
}

.info-block p {
  margin-right: 38%;
}

.info-block a {
  color: inherit;
}

#imprint address {
  padding-left: 6em;
}

#imprint address .fn {
  font-size: 150%;
}

#content {
  margin-top: 2.2em;
}

#contentinfo {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 9em;
  width: 100%;
  color: white;
  background-color: #333333;
}

#contentinfo a {
  color:inherit;
}

#contentinfo p {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: .5em;
  padding-right: .5em;
  text-align: right;
}

#disqus_thread {
  max-width: 920px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

/*category*/
.category {
  max-width: 995px;
}

@media all and (max-width: 1005px) {
  .category {
    max-width: 501px;
  }
}

@media all and (max-width: 515px) {
  .category {
    max-width: 254px;
  }
}

.category > header {
  display: table;
  height: 100px;
  width: 100%;
  margin: 0;
  margin-bottom:10px;
  padding: 0;
  background-color: #969696;
  border-radius: 0 0 3px 3px;
  overflow:hidden;
}

.category > header h1 {
  display: table-cell;
  vertical-align: bottom;
  padding-left: 10px;
  padding-bottom: 10px;
}

.category article {
  display: inline-flex;
  width: 240px;
  height: 240px;
  margin-left:7px;
  margin-bottom:7px;
}

.category article .cover {
  width: 240px;
  height: 240px;
  vertical-align: bottom;
}

.category article .article-content {
  border-top: 1px #dcdcdc solid;
  background-color: rgb(0,0,0);
  opacity: .75;
  position: relative;
  color: #dcdcdc;
  z-index: 10;
  left: 0;
  top:-240px;
  margin: 0;
  margin-top:120px;
  padding-top:5px;
  padding-left:10px;
  padding-right:10px;
  min-height: 105px;
  max-height: 120px;
  width: 220px;
  transition: opacity, .8s;
  font-size: 95%;
  font-weight: normal;
}

.category article .article-content:hover {
  opacity: 1;
}

.category article header {
  background-color: transparent;
}

.category article h2 {
  margin: 0;
  padding:0;
}

.category article .entry-summary p {
  margin: 0;
  padding:0;
  font-size: 90%;
  opacity: 1;
}

.category article .post-info {
  display: none;
}

.banner {
  background-color: #bbbbbb;
  border-radius: 3px;
  overflow:hidden;
}

.banner > header {
  display: block;
  height: auto;
  background-color: inherit;
  margin-bottom: .5em;
}

.banner > header h2 {
  margin: 0;
  padding-top: .5em;
  padding-left: 10px;
}

/* article */
.article {
  margin-bottom: 2em;
}

.article header {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #969696;
  color: white;
  border-radius: 0 0 3px 3px;
  overflow:hidden;
}

.article header div {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.article header .entry-title {
  display: inline;
  padding: 0;
  margin: 0;
}

.article header p:before {
  content: " - ";
}

.article header p {
  display: inline;
  padding: 0;
  margin: 0;
}

.article .entry-title a {
  color: white;
}

.article header img.cover {
  display: table-cell;
  vertical-align: top;
  width: 200px;
  height: 200px;
}

.entry-content{
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
}

.article .entry-content {
  text-align: justify;
}

.article .entry-content p {
  padding-left: 1em;
  padding-right: 1em;
}

.article .entry-content ol {
  padding-left: 3em;
  padding-right: 1em;
}

.article .entry-content ul {
  padding-left: 3em;
  padding-right: 1em;
}

.article .entry-content dl {
  padding-left: 1em;
  padding-right: 1em;
}

.article .entry-content .formula {
  text-align: center;
}

.article .entry-content h2 {
  background-color: #969696;
  padding:0.5em;
  font-size: 90%;
  border-radius: 3px 3px 0 0;
}

.article .entry-content h3 {
  padding-left:0.5em;
}

.article header h2 a {
  color: inherit;
}

.social {
  display: inline-block;
  float: left;
  padding: .5em;
  margin: .1em;
  text-align: right;
  border-radius: 3px;
}

a.social {
  color: white !important;
}

.social .logo {
  padding-left: .3em;
  width: 1.2em;
  vertical-align: top;
}

.facebook {
  background-color: #2d5f9a;
}

.twitter {
  background-color: #00c3f3;
}

.post-info {
  margin-top: .1em;
  margin-bottom: 2.5em;
  font-size: 70%;
  width: 100%;
  text-align: right;
}

.admonition {
  border: 1px solid #333333;
  border-top-width: 1em;
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: 1em;
  max-width: 85%;
  font-size: 85%;
}

.admonition p {
  margin: 0 !important;
  padding: 0 !important;
}

.admonition-title {
  display: none;
}

.tip {
  border-color: #C7A317;
}

.admonition-downloadable-file .admonition-title {
  display: block;
}

.admonition-downloadable-file {
  display: block;
  float: right;
  margin-left: 2em;
  width: 33%;
  background-image: url("../images/downloadable_file.png");
  background-repeat: no-repeat;
  background-position: 10px 1em;
  padding-left: 55px;
}

.blend4web-viewer {
  position:relative;
  margin: .5em auto;
  text-align: center;
  width: 100%;
}

.blend4web-screenshot {
  z-index: 1;
  max-width:90%;
  border: 7px solid #bbbbbb;
  background-color: #bbbbbb;
  border-radius: 3px;
  color: white;
}

.blend4web-overlay {
    z-index: 10;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.blend4web-play {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/play-button.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}

.blend4web-play:hover {
  -webkit-filter: none;
  filter: none;
}

.blend4web-play a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.youtube {
  margin: .5em auto;
  text-align: center;
}

.youtube-16x9 > iframe {
  min-width:304px;
  min-height: 171px;
  max-width:1024px;
  max-height: 576px;
  width: 40vw;
  height: 23vw;
}

/* for small devices */
@media all and (max-device-width: 800px) {
  .info-block {
    min-height: inherit;
    padding: 1em;
  }

  #imprint {
    padding: 1em;
    min-height: inherit;
  }
}

@media all and (max-device-width: 590px) {
  #banner {
    font-size: 50%;
    padding-bottom: 2.2em;
  }

  .info-block {
    background-size: 100%;
    background-position: 120px -40px;
    color: white;
  }

  .info-block p {
    margin-right: 0;
  }

  #imprint address {
    padding-left: 1em;
  }

  .article header img.cover {
    width: 100px;
    height: 100px;
  }

  .admonition-downloadable-file {
    float: none;
    width: inherit;
    margin: 2em;
  }
}
